#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

#primaFrase {
    margin-top: 120px;
}

#mappa {
    height: 700px;
}

#filtro{
    margin-top: 250px;


}

.white{
    color :white;
}

h2{
  color: rgb(243, 243, 243);
  mix-blend-mode:difference;
}

h3{
    color :rgb(151, 195, 207)
}


/* MAPPA */
/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 75%;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

 